{% extends "base.html" %}
{% block title %}書籍{% endblock %}
{% block content %}
{% load filter %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/books.css' %}" type="text/css">

<h1>書籍維護</h1>
<a href="{% url 'Book' %}" class="btn btn-outline-primary" style="position: absolute;right: 210px;top: 80px;">回書籍查詢</a>
<form {% if mode == 'create' %} action="{% url 'BookDetail' mode='create' %}"{%else%}action="{% url 'BookDetail' 'edit' book_id %}"{% endif %} method="post">
    {% csrf_token %}
    <div class="text">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name }}
    </div>
    <div class="text">
        <label for="category">{{ form.category.label }}</label>
        {{ form.category }}
    </div>
    <div class="text">
        <label for="author">{{ form.author.label }}</label>
        {{ form.author }}
    </div>
    <div class="text">
        <label for="publisher">{{ form.publisher.label }}</label>
        {{ form.publisher }}
    </div>
    <div class="text">
        <label for="publish_date">{{ form.publish_date.label }}</label>
        {{ form.publish_date }}
    </div>
    <div class="text">
        <label for="summary">{{ form.summary.label }}</label>
        {{ form.summary }}
    </div>
    <div class="text">
        <label for="price">{{ form.price.label }}</label>
        {{ form.price }}
    </div>
    <div class="text">
        <label for="keeper_id">{{ form.keeper_id.label }}</label>
        {{ form.keeper }}
        {{ form.keeper_id }}
    </div>
    <div class="text">
        <label for="status">{{ form.status.label }}</label>
        {{ form.status }}
    </div>
    <div style="margin-top: 15px; text-align: end;">
        <input type="hidden" value="{{ mode }}" id="mode">
        {% if mode == 'edit' %}
        <button class="btn btn-danger" id="DeleteBtn">刪除</button>
        <input type="submit" value="存檔" class="btn btn-primary" id="SaveBtn" style="margin-left: 10px;" />
        {% elif mode == 'view' %}
        <input type="button" value="修改" class="btn btn-success" id="EditBtn" />
        {% else %}
        <input type="submit" value="新增" class="btn btn-primary" id="InsertBtn" />
        {% endif %}
    </div>
</form>

<script>
    $(document).ready(function() {
        keeper_id = $('input[name="keeper_id"]').val();
        mode = $('#mode').val();
        $('select[name="keeper"]').val(keeper_id);

        $('select[name="keeper"]').change(function() {
            keeper_id = $(this).val();
            $('input[name="keeper_id"]').val(keeper_id);
            if (keeper_id == '') {
                $('select[name="status"]').val('');
            } else {
                $('select[name="status"]').val('3');
            }
        });

        if (mode == 'view') {
            readonlyMode();
        } else {
            editMode();
        }

        $('select[name="status"]').change(function() {
            changeDropdownStatus();
        });

        $('#EditBtn').click(function() {
            window.location.href = "{% url 'BookDetail' 'edit' book_id %}";
        });

        //刪除按鈕確認視窗
        $('#DeleteBtn').click(function () {
            book_name = $('input[name="name"]').val();
            var confirmed = confirm('確定要刪除書籍：【' + book_name + '】？');
            if (confirmed) {
                var data = {
                    book_id: "{{ book_id }}",
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                };
                $.ajax({
                    url: "{% url 'DeleteBook' %}",
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.status) {
                            window.location.href = "{% url 'Book' %}";
                        }
                        alert(result.message);
                    }
                });
            }
        });

        function readonlyMode() {
            $('input[name="name"]').prop('readonly', true);
            $('select[name="category"]').prop('disabled', true);
            $('input[name="author"]').prop('readonly', true);
            $('input[name="publisher"]').prop('readonly', true);
            $('input[name="publish_date"]').prop('readonly', true);
            $('textarea[name="summary"]').prop('readonly', true);
            $('input[name="price"]').prop('readonly', true);
            $('select[name="keeper"]').prop('disabled', true);
            $('select[name="status"]').prop('disabled', true);
        }

        function editMode() {
            $('input[name="name"]').prop('readonly', false);
            $('select[name="category"]').prop('disabled', false);
            $('input[name="author"]').prop('readonly', false);
            $('input[name="publisher"]').prop('readonly', false);
            $('input[name="publish_date"]').prop('readonly', false);
            $('textarea[name="summary"]').prop('readonly', false);
            $('input[name="price"]').prop('readonly', false);
            $('select[name="keeper"]').prop('disabled', false);
            $('select[name="status"]').prop('disabled', false);
        }

        function changeDropdownStatus() {
            book_status = $('select[name="status"]').val();
            if (book_status == '1' || book_status == '2') {
                $('select[name="keeper"]').val('');
                $('select[name="keeper"]').prop('disabled', true);
                $('input[name="keeper_id"]').val('');
            } else {
                $('select[name="keeper"]').prop('disabled', false);
            }
        }

    });
</script>
{% endblock %}