{% extends "base.html" %}
{% block title %}書籍查詢{% endblock %}
{% block content %}
{% load filter %}
<h1>書籍查詢</h1>
<form action="{% url 'Book' %}" method="post">
    {% csrf_token %}
    <div class="form" >
        <div style="background-color: #efefef;border-radius: 20px;">
            <div style="margin: 25px 10px;">
                <div class="text col-3">
                    <label for="name">{{ form.book_name.label }}</label>
                    {{ form.book_name }}
                </div>
                <div class="text col-3">
                    <label for="category">{{ form.category.label }}</label>
                    {{ form.category }}
                </div>
                <div class="text col-3">
                    <label for="register_year">{{ form.borrower.label }}</label>
                    {{ form.borrower }}
                </div>
                <div class="text col-3">
                    <label for="subject">{{ form.book_status.label }}</label>
                    {{ form.book_status }}
                </div>
            </div>
            <div class="button col-3" style="margin: 20px 0px;display: flex;justify-content: space-evenly;">
                <input type="button" value="查詢" class="btn btn-primary" id="SearchBtn" style="width: 30%;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="清除" class="btn btn-danger" id="ClearBtn" style="width: 30%;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="新增" class="btn btn-success" id="InsertWindowBtn" style="width: 30%;"/>
            </div>
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">書籍類別</th>
            <th style="width: 30%">書名</th>
            <th style="width: 15%">出版日期</th>
            <th style="width: 10%">借閱狀態</th>
            <th style="width: 10%">借閱人</th>
            <th style="width: 20%">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.category }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.publish_date | format_time }}</td>
            <td>{{ book.status }}</td>
            <td>{{ book.keeper_id | display_borrower }}</td>
            <td>
                <a href="{% url 'BookLendRecord' book.id %}" class="btn btn-primary">借閱紀錄</a>
                <a href="{% url 'BookDetail' book.id %}" class="btn btn-success">編輯</a>
                <a href="" class="btn btn-danger">刪除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        //清除按鈕清空搜尋欄位
        $('#ClearBtn').click(function () {
            $('#BookName').val('');
            $('#Category').val('');
            $('#Borrower').val('');
            $('#BookStatus').val('');
        });
    });
</script>
{% endblock %}